<div class="container">
    <ng-container *ngIf="listTrainingsAdmin">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th> <th>NOM</th> <th>DESCRIPTION</th> <th>PRIX</th> <th>QUANTITE</th> <th>PANIER</th>
                </tr>         
            </thead>
            <tbody>
                <tr *ngFor="let training of listTrainingsAdmin">
                    <td>{{training.id}}</td>
                    <td>{{training.name}}</td>    
                    <td>{{training.description}}</td>
                    <td>{{training.price}}</td>
                    <td> <input name="quantity" style="width: 60px" [(ngModel)]="training.quantity" min=""> </td>
                    <td> <a class="btn btn-primary"> Ajouter </a></td>
                    <td> <a class="btn btn-secondary"> Modifier </a></td>
                    <td> <a class="btn btn-danger"> supprimer </a></td>

                </tr>
            </tbody>
        </table>    
    </ng-container>
</div>